<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.varghamarkpeter.wadb" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:installLocation="internalOnly"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".WidgetUpdateService"
            android:icon="@mipmap/ic_launcher"
            android:label="ADB WiFi widget updater" />

        <service android:name=".BackgroundIntentService"
            android:icon="@mipmap/ic_launcher"
            android:label="On boot action handler" />

        <receiver
            android:name="hu.varghamarkpeter.wadb.BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <receiver
            android:icon="@mipmap/ic_launcher"
            android:label="ADB WiFi widget"
            android:name="WadbWidgetProvider" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="hu.varghamarkpeter.wadb.WIDGET_CLICK" />
                <action android:name="hu.varghamarkpeter.wadb.WIDGET_UPDATE_ALL" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

    </application>

</manifest>
